@import "mixins"

html
body
	font-family Roboto-reg
	font-size 14px
	position relative
body
	overflow-x hidden
a
	text-decoration none
	color: #fff
@import "../blocks/b-nav_menu/b-nav-menu.styl"

@import "../blocks/b-main/b-main.styl"

@import "../blocks/b-information/b-information.styl"

