@font-face
	font-family Roboto-bold
	src url(../fonts/Roboto-Bold.ttf)
@font-face
	font-family Roboto-med
	src url(../fonts/Roboto-Medium.ttf)
@font-face
	font-family Roboto-reg
	src url(../fonts/Roboto-Regular.ttf)
@font-face
	font-family EyesWOPU
	src url(../fonts/EyesWOPU.ttf)

bgcolortop = #1c1c1c
colortop = #b9b9b9
bgproduct= #f5f6fa



