section.main-popular
	.container
		h2.main-popular__title Popular product
		.main-popular__products
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image1.jpg" alt="product-image1")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image2.jpg" alt="product-image2")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				span.main-popular__old-price &euro;39.95
				span.main-popular__product-discount -20%
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image3.jpg" alt="product-image3")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				span.main-popular__product-new New
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image4.jpg" alt="product-image4")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image5.jpg" alt="product-image5")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				span.main-popular__old-price &euro;39.95
				span.main-popular__product-discount -20%
				span.main-popular__product-new New
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image6.jpg" alt="product-image6")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image7.jpg" alt="product-image7")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				span.main-popular__product-new New
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
			.main-popular__product
				img(src="./blocks/b-main/b-main/product-image8.jpg" alt="product-image8")
				h4 Twill Short Hooded Trench
				span.main-popular__price &euro;34.95
				span.main-popular__old-price &euro;39.95
				span.main-popular__product-discount -20%
				.main-popular__product-view
					img(src="./blocks/b-main/b-main/quick-view.png" alt="")
					a(href="##") Quick view
				.main-popular__product-color
					span.main-popular__product-color1
					span.main-popular__product-color2
					span.main-popular__product-color3
