section.information
	.container
		.information-products
			.information-product
				.information-product__block1
					img(src="./blocks/b-information/b-information/footer-image1.jpg" alt="footer-image1")
					.product-info
						span.product-info__clothes Blouses
						h5 Print Split-Neck<br> Blouse
						span.product-info__price &euro;59.95
				img.inforpmation-product__img-bottom(src="./blocks/b-information/b-information/footer-image4.jpg" alt="footer-image4")
				span.product-info__sale Sale end 15.04
				span.product-ingo__disc Up to 20% off
			.information-product
				img(src="./blocks/b-information/b-information/footer-image2.jpg" alt="footer-image2")
				.product-info2
					h5 A-line midi skirt
				a.btn-shop-now(href="##") Shop now
			.information-product
				img(src="./blocks/b-information/b-information/footer-image3.jpg" alt="footer-image3")
				.product-info3
					h5 Style Guide
				span.product-info__lookbook Lookbook
				.information-product__block1
					img.inforpmation-product__img-bottom(src="./blocks/b-information/b-information/footer-image5.jpg" alt="footer-image5")
					.product-info
						span.product-info__clothes Shorts
						h5 The Archive<br> re-issue Pleated
						span.product-info__price &euro;34.95

