header.header
	.container
		.header-top
			.header-top__left
				.header-top__left-language
					span.header-top__title Language:
					a(href="##")
						span.header-top__tab en
						img(class="header-top__arrow" src="./blocks/b-nav_menu/b-nav_menu/arrow.png" alt="")
				.header-top__left-currency
					span.header-top__title Currency:
					a(href="##")
						span.header-top__tab euro
						img(class="header-top__arrow" src="./blocks/b-nav_menu/b-nav_menu/arrow.png" alt="")
			.header-top__right
				.header-top__right-contact-us
					a(href="##")
						span Contact us
				.header-top__right-sing-in
					a(href="##")
						span Sing in

		.header-mid
			.header-mid__search
				img(class="header-mid__img-search" src="./blocks/b-nav_menu/b-nav_menu/search.png" alt="")
			h1(class="header-mid__logo") Planet Earth
			.header-mid__cart
				img(class="header-mid__img-cart" src="./blocks/b-nav_menu/b-nav_menu/cart.png" alt="")
				span 0

		.header-bottom
			ul.header-bottom__menu
				li.header-bottom__li
					a(href="##") Home
				li.header-bottom__li 
					a(href="##") Men
				li.header-bottom__li 
					a(href="##") Women
				li.header-bottom__li
					a(href="##") Sale
				li.header-bottom__li 
					a(href="##") Blog
				li.header-bottom__li 
					a(href="##") Contacts
				li.burg-menu
					span
					span
					span


