@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-med;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-reg;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: EyesWOPU;
  src: url("../fonts/EyesWOPU.ttf");
}
html,
body {
  font-family: Roboto-reg;
  font-size: 14px;
  position: relative;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header-top {
  padding: 12px 17px;
  font-family: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1c1c1c;
}
.header-top__left-language,
.header-top__left-currency,
.header-top__right-contact-us,
.header-top__right-sing-in {
  display: inline-block;
}
.header-top__left-currency {
  margin-left: 1.9rem;
}
.header-top__tab {
  text-transform: uppercase;
  margin-left: 0.23rem;
}
.header-top__title {
  color: #b9b9b9;
}
.header-top__arrow {
  margin-left: 0.8rem;
}
.header-top__left-currency .header-top__arrow {
  margin-left: 1.1rem;
}
.header-top__right-contact-us {
  margin-right: 2.5rem;
}
.header-mid {
  height: 88px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.header-mid__logo {
  font-family: Roboto-bold;
  font-size: 2.35rem;
  letter-spacing: 1.5px;
}
.header-mid__search {
  width: 87px;
  height: 88px;
  border-right: 1px solid #e5e5e5;
}
.header-mid__img-search {
  cursor: pointer;
  margin: 34px 35px;
}
.header-mid__cart {
  position: relative;
  width: 87px;
  height: 88px;
  text-align: right;
  border-left: 1px solid #e5e5e5;
}
.header-mid__cart span {
  position: absolute;
  color: #fff;
  top: 25px;
  right: 23px;
}
.header-mid__img-cart {
  cursor: pointer;
  margin: 22px 17px;
}
.header-mid__logo {
  margin: 0;
}
.header-bottom {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.header-bottom__menu {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}
.header-bottom__li {
  -webkit-flex-basis: 81px;
      -ms-flex-preferred-size: 81px;
          flex-basis: 81px;
  text-align: center;
  height: inherit;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-right: 1.81rem;
}
.header-bottom__li:first-child {
  margin-left: 5px;
}
.header-bottom__li:last-child {
  margin-right: 5px;
}
.header-bottom__li a {
  font-family: Roboto-med;
  color: #000;
  text-transform: uppercase;
  display: block;
  height: 57px;
  line-height: 4.4;
}
.header-bottom__li a:hover {
  border-bottom: 3px solid #000;
}
.burg-menu {
  display: none;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}
.burg-menu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 2px;
  background-color: #000;
  border-radius: 5px;
}
@media (max-width: 439px) {
  .header-top__left-currency {
    margin: 0;
  }
  .header-top__right {
    text-align: right;
  }
  .header-top__right .header-top__right-contact-us {
    margin: 0;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
  .header-bottom__li {
    display: none;
  }
  .burg-menu {
    display: block;
  }
}
@media (max-width: 330px) {
  .header-mid__logo {
    font-size: 2rem;
  }
}
.main-popular {
  padding: 60px 0;
}
.main-popular__products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-popular__product {
  -webkit-flex-basis: 255px;
      -ms-flex-preferred-size: 255px;
          flex-basis: 255px;
  position: relative;
  margin-top: 18px;
  text-align: center;
  cursor: pointer;
}
.main-popular__product h4 {
  margin: 15px 0 7px 0;
  font-size: 1.07rem;
}
.main-popular__product img {
  width: 255px;
}
.main-popular__product:nth-child(4) {
  margin-right: 0;
}
.main-popular__product:nth-child(8) {
  margin-right: 0;
}
.main-popular__product:nth-child(-n+4) {
  margin-bottom: 15px;
}
.main-popular__product:hover > .main-popular__product-view,
.main-popular__product:hover > .main-popular__product-color {
  opacity: 1;
}
.main-popular__price {
  font-family: Roboto-med;
  font-size: 1.5rem;
}
.main-popular__old-price {
  font-family: Roboto-med;
  color: #9ca1af;
  font-size: 1.2rem;
  margin-left: 5px;
  text-decoration: line-through;
}
.main-popular__product-discount {
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 3.2;
}
.main-popular__product-new {
  position: absolute;
  text-transform: uppercase;
  right: 2px;
  top: 3px;
  color: #000;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  line-height: 3.2;
}
.main-popular__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.95px;
}
.main-popular__product-view {
  opacity: 0;
  position: absolute;
  left: 67px;
  top: 112px;
  width: 120px;
  text-align: right;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-popular__product-view img {
  position: absolute;
  left: 15px;
  top: 11px;
  width: 16px;
  height: 16px;
}
.main-popular__product-view a {
  display: block;
  background-color: #000;
  padding: 10px 15px;
}
.main-popular__product-color {
  position: absolute;
  left: 100px;
  bottom: 73px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-popular__product-color span {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.main-popular__product-color1 {
  background-color: #000;
  margin-right: 3px;
}
.main-popular__product-color2 {
  background-color: #a8d1ca;
  margin-right: 3px;
}
.main-popular__product-color3 {
  background-color: #d41616;
}
@media (max-width: 1020px) {
  .main-popular__products {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.information {
  padding: 42px 0;
}
.information-products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.information-product {
  position: relative;
  -webkit-flex-basis: 370px;
      -ms-flex-preferred-size: 370px;
          flex-basis: 370px;
}
.inforpmation-product__img-bottom {
  margin-top: -4px;
}
.information-product__block1 {
  position: relative;
}
.product-info {
  position: absolute;
  top: 119px;
  left: 193px;
}
.product-info h5 {
  margin: 8px 0 34px 0;
  font-size: 1.36rem;
  line-height: 1.25;
}
.product-info__clothes {
  font-family: Roboto-med;
  color: #96989b;
  font-size: 1.05rem;
}
.product-info__price {
  font-family: Roboto-reg;
  font-size: 1.69rem;
  font-weight: 700;
}
.product-info2 {
  position: absolute;
  top: 19px;
  left: 101px;
}
.product-info2 h5 {
  font-family: Roboto-reg;
  font-size: 1.43rem;
  text-transform: uppercase;
}
.btn-shop-now {
  position: absolute;
  text-transform: uppercase;
  background-color: #000;
  font-size: 0.95rem;
  left: 118px;
  bottom: 78px;
  padding: 15px 33px;
}
.product-info3 {
  position: absolute;
  top: 34px;
  right: 48px;
}
.product-info3 h5 {
  font-family: EyesWOPU;
  font-size: 4.14rem;
  color: #fff;
}
.product-info__lookbook {
  font-family: Roboto-bold;
  position: absolute;
  left: 146px;
  top: 230px;
  color: #fff;
  font-size: 0.86rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.product-info__sale,
.product-ingo__disc {
  font-family: Roboto-med;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  color: #fff;
}
.product-info__sale {
  font-size: 0.79rem;
  bottom: 73px;
  background-color: #000;
  padding: 8px 15px;
}
.product-ingo__disc {
  font-size: 1.43rem;
  bottom: 24px;
  background-color: #df0101;
  padding: 10px 15px;
}
@media (max-width: 425px) {
  .information-product {
    -webkit-flex-basis: 300px;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
  }
  .information-product > img,
  .information-product__block1,
  .information-product__block1 > img {
    width: 300px;
    text-align: center;
  }
  .product-info {
    top: 100px;
    left: 153px;
  }
  .product-info__lookbook {
    left: 126px;
    top: 180px;
  }
  .product-info2 {
    top: 19px;
    left: 90px;
  }
  .btn-shop-now {
    left: 95px;
    bottom: 78px;
  }
}
@media (max-width: 1110px) {
  .inforpmation-product__img-bottom {
    margin-top: 0;
  }
}
